.scroll-top {

    position: fixed;

    left: 35px;

    bottom: 35px;

    width: 60px;

    height: 60px;

    border-radius: 50%;

    background: var(--secondary);

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    pointer-events: none;

    transition: .35s;

    box-shadow: 0 15px 35px rgba(251, 137, 40, .4);

    z-index: 999;

}

.scroll-top.show {

    opacity: 1;

    pointer-events: auto;

}

.scroll-top:hover {

    transform: translateY(-5px);

}