@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  direction: rtl;
  background: var(--white);
  color: var(--text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

::selection {

  background: #FB8928;

  color: white;

}

section {

  overflow: hidden;

}

.section{

    padding:140px 0;

}

.container{

    width:min(1280px,90%);

    margin-inline:auto;

}